@page
@model Stripboekensite.Pages.Account.AccessDenied

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Oops, je hoort hier niet te zijn!</h1>
</div>
</body>
</html>