<!--bootstrap pop up confirmation dialog-->
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">

    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Bevestig verwijderen
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Weet je zeker date je het volgende wilt verwijderen?
                            </span>
                            <strong id="deletedValueName">
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="deleteCancel()">Cancel</button>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" id="id" name="id"/>
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        //display the bootstrap modal and set the tags to the correct values for the button that was pressed
        var deleteConfirm = function (name, id) {
            $('#deletedValueName').text(name);
            $('#id').val(id);
            $('#delete-conformation').modal('show');
        }
        
        var deleteCancel = function (){
            $('#delete-conformation').modal('hide');
            }
</script>