@page
@model Stripboekensite.Pages.AanmeldenModel
@{
}

  <div class="card">
                                <form class="text-center col-12">
                                         <div class="alert alert-warning" role="alert">
                                                <strong>Let op:</strong>  Gebruik niet dezelfde combinatie die u op andere website's gebruikt!
                                         </div>
                                    <input class="form-control" type="text" name="" placeholder="Naam">
						            <br/>
						            <input class="form-control center-block" type="email" name="" placeholder="Email">
						            <br/>
						            <input class="form-control" type="password" name="" placeholder="Wachtwoord">
						            <br/>
						            <button class="btn btn-primary btn-sm border-0 col-6" type="submit" name="submit">Maak account aan</button>
					            </form>
                            </div>