@page
@model Stripboekensite.Pages.BoekToevoegenModel
@{
}

<div class="col-12">
    <form>
        <h5>Voeg een nieuw boek toe</h5>
        <!--Titel van het boek-->
        <div class="mb-3">
    <label for="BookTitle" class="form-label">Naam van het boek</label>
    <input type="text" class="form-control" id="BookTitle" />
  </div>

        <!-- Browse door computer en upload gekozen afbeelding -->
  <div class="input-group mb-3">
  <div class="custom-file">
       <label for="BookCover" class="form-label">Upload een foto van de cover</label>
    <input type="file" class="custom-file-input form-control" id="BookCover">
  </div>
</div>

        <!-- ISBN nummer-->
  <div class="mb-3">
    <label for="ISBN" class="form-label">ISBN-nummer</label>
    <input type="text" class="form-control" id="ISBN" />
  </div>

  <!--Eerste druk (Jaar)-->
   <div class="mb-3">
    <label for="FirstBook" class="form-label">Jaar van eerste druk</label>
    <input type="number" class="form-control" id="FirstBook" />
  </div>

  <!--Uitgever (Naam)-->
   <div class="mb-3">
    <label for="Creator" class="form-label">Naam van uitgever</label>
    <input type="text" class="form-control" id="Creator" autocomplete="on" />
  </div>

  <!--Expliciet boek (Ja/Nee)-->
   <div class="mb-3">
    <label for="ExplicitBook" class="form-label">Is dit boek expliciet?</label>

    <div class="btn-group form-control col-3" role="group" id="ExplicitBook">
  <input type="radio" class="btn-check" name="btnradio" id="Explicit" autocomplete="off" checked>
  <label class="btn btn-outline-dark" for="Explicit">Ja</label>

  <input type="radio" class="btn-check " name="btnradio" id="NotExplicit" autocomplete="off">
  <label class="btn btn-outline-dark" for="NotExplicit">Nee</label>

</div>
  </div>

  <!--Aantal bladzijden-->
   <div class="mb-3">
    <label for="PageNumber" class="form-label">Aantal bladzijden</label>
    <input type="number" class="form-control" id="PageNumber" />
  </div>

  <!--Reeks naam-->
   <div class="mb-3">
    <label for="BookSeries" class="form-label">Naam van Reeks</label>
    <input type="text" class="form-control" id="BookSeries" autocomplete="on" />
  </div>

  <!--Reeks nummer-->
   <div class="mb-3">
    <label for="SeriesNumber" class="form-label">Nummer van reeks</label>
    <input type="number" class="form-control" id="SeriesNumber" />
  </div>

  <!--Categorie van boek (Dropdown met categorie)-->
   <div class="mb-3">
    <label for="BookCategory" class="form-label">Zoek de juiste categorie </label>
   
    <select class="form-control" id="BookCategory">
      <option value="Catx">Category x</option>
      <option value="Caty">Category y</option>
      <option value="Catz">Category z</option>
     
    </select>
  </div>


  <button type="submit" class="btn btn-dark">Opslaan</button>
  <button type="submit" class="btn btn-dark">Opslaan & Toevoegen aan verzameling</button>
</form>
</div>

<br />
<br />