@page
@model Stripboekensite.Pages.BoekenkastModel
@{
}

<div class="container">
    <div class="row">
    
        <div class="col-6">
            <!-- Community tab-->
            <h5 class="card-title">Alle items</h5>
            <div class="card p-3">      
                <div class="btn btn-primary align-self-end">Voeg toe</div>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new">
                        <p>Boek 1</p>
                    </div>
                    <div class="tab-pane fade" id="friends">
                        <p>Vrienden</p>
                    </div>
                    <div class="tab-pane fade" id="recommended">
                        <p>Aanbevolen</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5 class="card-title">Verzameling community</h5>
            <div class="card">
                <div class="align-self-end">icon community</div>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-6">
            <!-- Community tab-->
            <h5 class="card-title">Per categorie</h5>
            <div class="card p-3">      
                <div class="btn btn-primary align-self-end">Voeg toe</div>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new">
                        <p>Verzameling 1</p>
                    </div>
                    <div class="tab-pane fade" id="friends">
                        <p>Vrienden</p>
                    </div>
                    <div class="tab-pane fade" id="recommended">
                        <p>Aanbevolen</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-6">
            <!-- Community tab-->
            <h5 class="card-title">Per serie</h5>
            <div class="card p-3">      
                <div class="btn btn-primary align-self-end">Voeg toe</div>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new">
                        <p>Boek 1</p>
                    </div>
                    <div class="tab-pane fade" id="friends">
                        <p>Vrienden</p>
                    </div>
                    <div class="tab-pane fade" id="recommended">
                        <p>Aanbevolen</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-6 btn btn-primary">Mijn boekenkast</div>
    </div>
</div>

