@page
@model Stripboekensite.Pages.Dashboard

@{
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css"></link>

<div class="container py-5">
  <div class="row">
    <div class="col-12 p-5">
      <h1> <i class="fa fa-gears" aria-hidden="true"></i> Dashboard</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    
    <div class="col-4 p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
            <hr/>
            <p class="card-title lead">Beheer gebuikers</p>
          </div>
        </div>
      </a>
    </div>


    <div class="col-4 p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
            <hr/>
            <p class="card-title lead">Beheer Boeken</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-4 p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
            <hr/>
            <p class="card-title lead">Beheer Categorieen</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>