@page
@model IndexModel
@{
    ViewData["Title"] = "Home page Stripboekenwebsite";
}

<div class="container">

<!-- Card deck -->
<div class="card-deck row">

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="~/atomicHabits.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Atomic habits</h4>
      <!--Text-->
      <p class="card-text">Eventuele beschrijving</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Details</button>

    </div>

  </div>
  <!-- Card -->
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="~/suske-en-wiske-de-treiterende-trien-2019.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Suske & Wiske De treiterende trien 2019</h4>
      <!--Text-->
      <p class="card-text">Eventuele beschrijving</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Details</button>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="~/donaldDuck.jpg" height=400px width=150px alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Donald Duck</h4>
      <!--Text-->
      <p class="card-text">Eventuele beschrijving</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Details</button>

    </div>

  </div>
  <!-- Card -->
</div>
<!-- Card deck -->
  </div>
</div>