@page
@model IndexModel
@{
    ViewData["Title"] = "Home page Stripboekenwebsite";
}


        <!-- Belangrijke links & tags-->

        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


 

        <!-- Begin code -->
<!-- Rest van de pagina (Community pagina & wishlist) -->
<div class="container">
  <!-- Content here -->

</div>
  <div class="row">

      <div class="col-7">
          <!-- Community tab-->
          <div class="card">      
                    <h5 class="card-title text-center">Community tab</h5>
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#new" class="nav-link active" data-bs-toggle="tab">Nieuw</a>
                    </li>
                    <li class="nav-item">
                        <a href="#friends" class="nav-link" data-bs-toggle="tab">Vrienden</a>
                    </li>
                    <li class="nav-item">
                        <a href="#recommended" class="nav-link" data-bs-toggle="tab">Aanbevolen</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new">
                        <p>Home</p>
                    </div>
                    <div class="tab-pane fade" id="friends">
                        <p>Vrienden</p>
                    </div>
                    <div class="tab-pane fade" id="recommended">
                        <p>Aanbevolen</p>
                    </div>
                </div>
            </div>
      </div>

      <div class="col-3">
          <!--Wishlist tab-->
              <div class="card">
            
                    <h5 class="card-title text-center">Wishlist tab</h5>
                  
                  </div>
            </div>
      </div>

