@page
@model IndexModel
@{
    ViewData["Title"] = "Home page Stripboekenwebsite";
}


        <!-- Belangrijke links & tags-->

        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">        
 
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>  

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> 
        </script>
  
           <!-- Zorgt ervoor dat modal maar 1x verschijnt per sessie -->
        <script type="text/javascript">
         $(document).ready(function() {
             if (sessionStorage.getItem('#OptionModal') !== 'true') {
                 $('#OptionModal').modal('show');
                 sessionStorage.setItem('#OptionModal','true');     
             }
         });
        </script>

        <!-- Einde belangrijke links & tags-->

        <!-- Begin code -->  

        <!-- Modal 3 opties met grid (inloggen etc) -->
        <div class="modal fade" id="OptionModal" tabindex="-1" aria-labelledby="OptionModalLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="OptionModalLabel">Welkom, hoe wilt u verder gaan?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Sluiten"></button>
              </div>
              <div class="modal-body">
                    <div class="card">      
                    <h5 class="card-title text-center">Kies de optie die bij u past:</h5>
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#signin" class="nav-link active" data-bs-toggle="tab">Inloggen
                           <span class="glyphicon glyphicon-question-sign"></span> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#signup" class="nav-link" data-bs-toggle="tab">Maak account aan</a>
                    </li>
                    <li class="nav-item">
                        <a href="#guest" class="nav-link" data-bs-toggle="tab">Ga verder als gast</a>
                    </li>
                </ul>
                <div class="tab-content">
                   
                    <!--Login tab -->
                    <div class="tab-pane fade show active" id="signin">
                           <br />
                               <div>
                                    <form class="text-center col-12">
                                            <div class="alert alert-info" role="alert">
                                             Let op: Gebruikersnaam is uw email!
                                            </div>
						                <input class="form-control center-block" type="email" name="" placeholder="Email">
						                <br>
						                <input class="form-control" type="password" name="" placeholder="Wachtwoord">
						                <br>
						                <button class="btn btn-primary btn-sm border-0 col-6" type="submit" name="submit">Log In</button>
					                </form>
                                </div>
                            <br/>
                    </div>

                    <!--Account aanmaken tab -->
                    <div class="tab-pane fade" id="signup">
                        <br/>
                            <div>
                                <form class="text-center col-12">
                                         <div class="alert alert-warning" role="alert">
                                                 Let op: Gebruik niet dezelfde combinatie die u op andere website's gebruikt!
                                         </div>
                                    <input class="form-control" type="text" name="" placeholder="Naam">
						            <br/>
						            <input class="form-control center-block" type="email" name="" placeholder="Email">
						            <br/>
						            <input class="form-control" type="password" name="" placeholder="Wachtwoord">
						            <br/>
						            <button class="btn btn-primary btn-sm border-0 col-6" type="submit" name="submit">Maak account aan</button>
					            </form>
                            </div>
                        <br/>
                    </div>

                    <!-- Gasten tab-->
                    <div class="tab-pane fade" id="guest">
                        <br/>
                            <div>
                                 <div class="alert alert-info col-12" role="alert">
                                            Let op: Er gelden beperkingen wanneer u geen account heeft!
                                            <br/>
                                            <b>Beperkingen:</b> 
                                       
                                             <ul>
                                              <li>U kunt geen eigen boekenlijst maken</li>
                                              <li>U kunt geen eigen wishlist maken</li>
                                              <li>U kunt geen eigen verzameling maken</li>
                                              <li>U kunt geen vrienden toevoegen</li>
                                            </ul>
                                            
                                            </div>
                                            <div class=" d-md-flex justify-content-md-center">
                                                <button type="button" class="btn btn-primary btn-sm border-0 text-center"> Ga verder als gast</button>
                                            </div>
                            </div>
                        <br/>
                    </div>

                </div>
            </div>
      </div>
              </div>
              <div class="modal-footer">
             
              </div>
            </div>
          </div>
    

       <!-- Rest van de pagina (Community pagina & wishlist) -->
<div class="container">
  <!-- Content here -->

</div>
  <div class="row">

      <div class="col-7">
          <!-- Community tab-->
          <div class="card">      
                    <h5 class="card-title text-center">Community tab</h5>
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#new" class="nav-link active" data-bs-toggle="tab">Nieuw</a>
                    </li>
                    <li class="nav-item">
                        <a href="#friends" class="nav-link" data-bs-toggle="tab">Vrienden</a>
                    </li>
                    <li class="nav-item">
                        <a href="#recommended" class="nav-link" data-bs-toggle="tab">Aanbevolen</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new">
                        <p>Home</p>
                    </div>
                    <div class="tab-pane fade" id="friends">
                        <p>Vrienden</p>
                    </div>
                    <div class="tab-pane fade" id="recommended">
                        <p>Aanbevolen</p>
                    </div>
                </div>
            </div>
      </div>

      <div class="col-3">
          <!--Wishlist tab-->
              <div class="card">
            
                    <h5 class="card-title text-center">Wishlist tab</h5>
                  
                  </div>
            </div>
      </div>

