@page
@model Stripboekensite.Pages.PersoonlijkeBoekGegevens

@{
   
}
<div class="col-12">
    <form asp-page-handler="" method="post">
        <h5>Voeg extra gegevens over uw boek toe</h5>
        <!--Druk van het boek-->
        <div class="mb-3">
    <label for="BookNumber" class="form-label">Welke druk is uw boek?</label>
    <input type="number" name="druk" class="form-control" id="BookNumber" />
  </div>

        <!-- Uitgave van het boek-->
  <div class="mb-3">
    <label for="BookPublication" class="form-label">Uitgave van uw boek</label>
    <input type="text" name="uitgave" class="form-control" id="BookPublication" />
  </div>

  <!--Bandlengte van het boek-->
   <div class="mb-3">
    <label for="BookLength" class="form-label">Bandlengte van uw boek</label>
    <input type="number" step="any" name="bandlengte" class="form-control" id="BookLength" />
  </div>

  <!--Plaats gekocht-->
        <div class="mb-3">
            <label for="Bookstore" class="form-label">Plaats van aankoop</label>
            <input type="text" name="winkel" class="form-control" id="Bookstore" autocomplete="on" />
        </div>

        <!--Prijs boek-->
        <div class="mb-3">
            <label for="BookPrice" class="form-label">Aankoopprijs boek</label>
            <input type="text" name="prijs" class="form-control" id="BookPrice" />
        </div>
        
        <!--Staat van boek-->
   <div class="mb-3">
       <label for="BookState" class="form-label">Beschrijf de staat van uw boek </label>
       <input type="text" id="BookState" class="form-control" name="staat"/>
   </div>


 <!--- <button type="submit" class="btn btn-dark">Opslaan</button>-->
  <button type="submit" class="btn btn-dark">Opslaan</button>
</form>
</div>

<br />
<br />
