@page
@model Stripboekensite.Pages.PersoonlijkeBoekGegevens

@{
   
}
<div class="col-12">
    <form asp-page-handler="Send" method="post">
        <h5>Voeg extra gegevens over uw boek toe</h5>
        <input name="stripboek_id" type="hidden" value="@Model.stripboek_id" />
        <!--Druk van het boek-->
        <div class="mb-3">
            <label for="BookNumber" class="form-label">In welk jaar is uw boek gedrukt?</label>
            <input type="number" name="druk" class="form-control" id="BookNumber" value="@Model.gebruikers_stripboeken.druk"/>
        </div>

        <!-- Uitgave van het boek-->
        <div class="mb-3">
            <label for="BookPublication" class="form-label">Uitgave van uw boek :@Model.gebruikers_stripboeken.uitgave </label>
            <input type="text" name="uitgave" class="form-control" id="BookPublication"/>
        </div>

        <!--Bandlengte van het boek-->
        <div class="mb-3">
            <label for="BookLength" class="form-label">Bandlengte van uw boek :@Model.gebruikers_stripboeken.bandlengte </label>
            <input type="number" step="any" name="bandlengte" class="form-control" id="BookLength"/>
        </div>

        <!--Plaats gekocht-->
        <div class="mb-3">
            <label for="Bookstore" class="form-label">Plaats van aankoop :@Model.gebruikers_stripboeken.plaats_gekocht </label>
            <input type="text" name="winkel" class="form-control" id="Bookstore" autocomplete="on"/>
        </div>

        <!--Prijs boek-->
        <div class="mb-3">
            <label for="BookPrice" class="form-label">Aankoopprijs boek :@Model.gebruikers_stripboeken.prijs_gekocht </label>
            <input type="text" name="prijs" class="form-control" id="BookPrice"/>
        </div>

        <!--Staat van boek-->
        <div class="mb-3">
            <label for="BookState" class="form-label">Beschrijf de staat van uw boek :@Model.gebruikers_stripboeken.staat </label>
            <input type="text" id="BookState" class="form-control" name="staat"/>
        </div>


        <!--- <button type="submit" class="btn btn-dark">Opslaan</button>-->
        <button type="submit" class="btn btn-dark" value=@Model.stripboek_id>Opslaan</button>
    </form>
</div>

<br />
<br />
