@page
@model Stripboekensite.Pages.ProfielModel
@{
}
<div class="container">
  <!-- Content here -->

</div>
  <div class="row">

    <div class="col-4">
          <!--Wishlist tab-->
              <div class="card">
            
                    <h5 class="card-title text-center">Profiel tab</h5>
                  
                  </div>
            </div>

      <div class="col-8">
          <!--Wishlist tab-->
              <div class="card">
            
                    <h5 class="card-title text-center">Instellingen tab</h5>
                  
                  </div>
            </div>
      </div>