@page
@model Stripboekensite.Pages.ProfielModel
@{
}

  <div class="row">

    <div class="col-4">
          <!--Profiel tab-->
              <div class="card">
            
                    <h5 class="card-title text-center">Profiel tab</h5>

                  <div class="mb-3 d-md-flex justify-content-md-center">
                  <img src="~/example.jpg" style="border:dashed 2px;" alt="" width=100 height=100 class="rounded-circle">
              </div>
              
              <form method="post" asp-page-handler="Edit">
                  <input type="hidden" name="gebruiker_id" value="@Model.gebruiker.Gebruikers_id"/>
                  
                  <div class="mb-3 d-md-flex justify-content-md-end">
                      <input class="form-control" type="file" id="showImage">
                  </div>
                  
                  <div class="mb-3 d-md-flex justify-content-md-end">
                      <input class="form-control col-2" type="text" name="naam" value="@Model.gebruiker.naam">
                  </div>
                  
                  <div class="mb-3 d-md-flex justify-content-md-end">
                      <input class="form-control col-2" type="date" name="geboorteDatum" value="@Model.gebruiker.Geboorte_datum.Date.ToString("yyyy-MM-dd")">
                  </div>
                  
                  <div class="mb-3 d-md-flex justify-content-md-center">
                      <button type="submit" class="btn btn-dark">Wijzigingen opslaan</button>
                  </div>
              </form>

              </div>
            </div>

      <div class="col-8">
          <!--Instellingen tab-->
              <div class="card">
            
                    <h5 class="card-title text-center">Instellingen tab</h5>

                    <div class=" mb-3 d-md-flex row">
                     <div class="col-6">
                    <div class="mb-3 d-md-flex justify-content-md-center">
                        <p>Wie mag uw wishlist bekijken?</p>
                            </div>
                            <div class="row mb-3 d-md-flex justify-content-md-center">
                         <div class="mb-3 d-md-flex justify-content-md-center col-4">
                        
                         <input type="checkbox" class="btn-check" id="WishlistMe" checked autocomplete="off">
                        <label class="btn btn-danger" for="WishlistMe">Alleen ik</label>
                            </div>
                         <div class="mb-3 d-md-flex justify-content-md-center col-1">
                        <input type="checkbox" class="btn-check" id="WishlistFriends" checked autocomplete="off">
                        <label class="btn btn-primary" for="WishlistFriends">Vrienden</label>
                            </div>
                         <div class="mb-3 d-md-flex justify-content-md-center col-4">
                         <input type="checkbox" class="btn-check" id="WishlistEveryone" checked autocomplete="off">
                        <label class="btn btn-success" for="WishlistEveryone">Iedereen</label>
                            </div>
                            </div>
                            </div>

                              <div class="col-6">
                              <div class="mb-3 d-md-flex justify-content-md-center">
                                 <p>Wie mag uw verzamelingen bekijken?</p>
                             </div>
                         <div class="row mb-3 d-md-flex justify-content-md-center">
    
                              <div class=" mb-3 d-md-flex justify-content-md-center col-4">
                         <input type="checkbox" class="btn-check" id="CollectionMe" checked autocomplete="off">
                        <label class="btn btn-danger" for="CollectionMe">Alleen ik</label>
                        </div>

                         <div class="mb-3 d-md-flex justify-content-md-center col-1">
                        <input type="checkbox" class="btn-check" id="CollectionFriends" checked autocomplete="off">
                        <label class="btn btn-primary" for="CollectionFriends">Vrienden</label>
                    </div>
                     <div class="mb-3 d-md-flex justify-content-md-center col-4">
                         <input type="checkbox" class="btn-check" id="CollectionEveryone" checked autocomplete="off">
                        <label class="btn btn-success" for="CollectionEveryone">Iedereen</label>
                           </div>
                            </div>
                             </div>
                 
                    </div>
                   
                  </div>
            </div>
      </div>